.topnav{
    background-color: rgb(42, 41, 41);
    overflow: hidden;
}
body{
    background-color: rgb(169, 169, 10);
    font-family: Geneva;
}
.topnav a{
    float: left;
    color: #efe1e1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: solid;
    font-size: 17px;
}
.topnav a:hover{
    background-color: rgb(226, 120, 120);
    color: black;
}
.topnav a.active{
    background-color:rgb(9, 120, 83);
    color: #efe1e1;
}